<.breadcrumbs {assigns} />

<section class="title-bar">
  <h1>Server settings</h1>
</section>

<.side_nav uri={@uri}>
  <:group links={[
    {"Backends", "x"},
    {"Users", "x"},
  ]} />

  <section class="settings">
    Some settings here
  </section>

</.side_nav>
