<.breadcrumbs {assigns} />

<h1><%= Money.Currency.name!(@currency_id) %>(<%= @currency_id %>)</h1>

<% rows = collect_rows(assigns) %>

<.flex_table rows={rows} class="info-table" header={false}>
  <:col :let={{name, _}}>
    <%= name %>
  </:col>
  <:col :let={{_, val}}>
    <%= val %>
  </:col>
</.flex_table>
