<%= render "_bar.html", assigns %>

<section class="addresses">
  <%= if Enum.empty?(@addresses) do %>
    <div class="no-addresses">
      There are no addresses here yet
    </div>
  <% else %>
  <% end %>
</section>


