<h1>Forgot your password?</h1>

<.form :let={f} for={%{}} as={:user} action={~p"/users/reset_password"}>
  <%= label(f, :email) %>
  <%= email_input(f, :email, required: true) %>

  <div>
    <%= submit("Send instructions to reset password") %>
  </div>
</.form>

<p>
  <%= link("Register", to: ~p"/users/register") %>| <%= link("Log in", to: ~p"/users/log_in") %>
</p>
