Setup completed!

<li><%= link "Setup crypto backends", to: Routes.server_backends_path(@conn, :index) %></li>
<li><%= link "Create a store", to: Routes.home_path(@conn, :dashboard) %></li>
<li><%= link "Read the documentation", to: Routes.doc_path(@conn, :index) %></li>
<li><%= link "Dashboard", to: Routes.home_path(@conn, :dashboard) %></li>
