@use "general.scss";
@use "portal/inputs.scss";
@use "portal/dashboard.scss";
@use "portal/side_nav.scss";
@use "portal/backend.scss";
@use "sizes.scss" as *;
@use "colors.scss" as *;

ul {
  li {
    display: inline-block;
  }
}

.top-nav {
  background-color: $brown-900;
  color: $brown-200;
  width: 100%;
  display: flex;
}

.top-nav {
  color: $brown-050;
}
.top-nav a {
  text-decoration: none;
}
.top-nav a:link,
.top-nav a:visited {
  color: $brown-200;
}
.top-nav a:hover {
  color: $brown-500;
  text-decoration: underline;
}

.top-nav > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: $spc-12 $spc-16;

  li:not(:first-child) {
    margin-left: $spc-8;
  }
}
.top-nav > nav * {
  display: flex;
  align-items: center;
}

.top-nav {
  display: flex;
  justify-content: center;
}
.top-nav > nav {
  min-width: 1200px;
}

.top-nav > nav .title {
  font-size: $fnt-18;
  font-weight: bold;
  color: $brown-050;
  margin-right: $spc-12;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-content {
  width: 1200px;
}

.breadcrumbs {
  margin: $spc-16 0;
  font-size: $fnt-14;
  color: $warm-grey-400;

  a:link,
  a:visited {
    color: $brown-800;
    text-decoration: none;
  }
  a:hover {
    color: $brown-500;
    text-decoration: underline;
  }
}

.store-nav-bar a {
  text-decoration: none;
  padding: 8px;
}
.store-nav-bar a:hover {
  border-bottom: 2px solid $brown-800;
}
.store-nav-bar a.active {
  border-bottom: 2px solid $brown-400;
}

.store-wrapper {
  margin-top: $spc-32;
}

.title-bar > h1 {
  font-size: $fnt-36;
}

.store-nav-bar > nav {
  font-size: $fnt-18;
  margin: $spc-16 0;

  li:not(:first-child) {
    margin-left: $spc-16;
  }
}

.info-table .header {
  border: 1px solid $brown-200;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: $brown-100;
}
.info-table .header,
.info-table .row {
  display: flex;
  padding: $spc-12;
  align-items: center;
}

.info-table .header {
  font-weight: bold;
}
.info-table .header span:not(:first-of-type),
.info-table .row span:not(:first-of-type) {
  margin-left: 8px;
}

.store-wrapper {
  .invoices {
    .link {
      width: 80px;
    }
    .status {
      width: 140px;
    }
    .date {
      width: 140px;
    }
    .crypto-amount {
      width: 150px;
    }
    .fiat-amount {
      width: 150px;
    }
  }
  .invoice:not(:first-child),
  .address:not(:first-child),
  .tx:not(:first-child) {
    border-top: 1px solid $brown-100;
  }

  .addresses {
    .link {
      width: 80px;
    }
    .address-id {
      width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .currency {
      text-align: center;
      width: 100px;
    }
    .xpub {
      text-align: center;
      width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .xpub-index {
      text-align: center;
      width: 100px;
    }
    .txs {
      width: 400px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .transactions {
    .link {
      width: 80px;
    }
    .txid {
      width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .amount {
      text-align: center;
      width: 200px;
    }
    .address-id {
      width: 300px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .tx-status {
      width: 140px;
      // display: flex;
      // justify-content: center;
      // flex-wrap: wrap;
    }
    .block-height {
      margin-top: $spc-4;
      margin-left: 2px;
      font-size: $fnt-14;
    }

    .confirmed,
    .double-spent,
    .unconfirmed {
      padding: 0 $spc-4;
      border-radius: $spc-4;
    }
    .confirmed {
      background-color: $green-300;
      box-shadow: 1px 1px $green-200;
    }
    .double-spent {
      background-color: $pink-400;
      box-shadow: 1px 1px $pink-400;
    }
    .unconfirmed {
      background-color: $aqua-200;
      box-shadow: 1px 1px $aqua-100;
    }
  }

  .detailed-invoice {
    .txs .header,
    .txs .tx-details,
    .pos-data .header,
    .pos-data .data {
      padding: $spc-12;
    }

    .row .descr,
    .pos-data .header,
    .txs .header {
      font-weight: bold;
    }

    .row {
      display: flex;

      .descr,
      .data {
        padding: $spc-12;
      }

      .descr {
        width: 150px;
      }
    }
  }

  .status {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .void,
  .paid,
  .processing,
  .open,
  .draft,
  .uncollectible {
    padding: 0 $spc-4;
    border-radius: $spc-4;
  }

  .paid {
    background-color: $green-300;
    box-shadow: 1px 1px $green-200;
  }
  .processing {
    background-color: $aqua-200;
    box-shadow: 1px 1px $aqua-100;
  }
  .open {
    background-color: $brown-300;
    box-shadow: 1px 1px $brown-200;
  }
  .draft {
    background-color: $warm-grey-200;
    box-shadow: 1px 1px $warm-grey-100;
  }
  .uncollectible {
    background-color: $pink-400;
    box-shadow: 1px 1px $pink-400;
  }
  .void {
    background-color: $grey-100;
    box-shadow: 1px 1px $grey-100;
  }

  .status-reason {
    margin-top: $spc-4;
    margin-left: 2px;
    font-size: $fnt-14;
  }
}

#edit-store {
  button {
    margin-left: $spc-4;
  }
}

.crypto-settings {
  .address-key-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  textarea {
    // flex-grow: 1;
    // flex: 0;
    min-width: 450px;
    min-height: 100px;
    margin-bottom: $spc-16;
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: $spc-8;
  }

  form {
    margin-bottom: 32px;
  }
}

.create-token {
  display: flex;
  justify-content: left;
  flex-direction: column;

  label {
    display: block;
    font-weight: bold;
  }

  label {
    margin-top: $spc-16;
  }
  button {
    margin-top: $spc-24;
  }
}

.create-token {
  margin-top: $spc-16;
  padding-top: $spc-16;
  border-top: 1px solid $brown-200;
}

.tokens {
  margin-top: $spc-32;
  padding-top: $spc-16;
  border-top: 1px solid $brown-200;
}

.create-token,
.tokens {
  h2 {
    font-size: $fnt-16;
  }
}

.tokens {
  .access-tokens {
    margin-top: $spc-8;
  }

  table th,
  table td {
    border: 0;
    margin: 0;
    padding: 0 $spc-8;
  }

  table {
    border: 0;
  }

  table thead tr {
    border: 1px solid $brown-200;
    // border-top-left-radius: 8px;
    // border-top-right-radius: 8px;
    background-color: $brown-100;
  }

  table tbody tr {
    border: 1px solid $brown-400;
  }
}

table.flex-table {
  display: grid;

  th,
  td {
    padding: $spc-4;
  }

  th {
    text-align: left;
  }
  thead,
  tbody,
  tr {
    display: contents;
  }
}
